
ARCA_DEBUG=0
ARCA_APP_HOST=0.0.0.0
ARCA_APP_PORT=8201
ARCA_REDIS_HOST=localhost
ARCA_REDIS_PORT=6379
ARCA_REDIS_DB_CACHE=3
ARCA_APP_AUTH_KEY=arca_secret_token
ARCA_GOOGLE_API_KEY=google_api_key
ARCA_VECTOR_STORE_PATH=/opt/ext/arca/lancedb
